.About{
    position: relative;
    width: 100%;
    min-height: auto;
    margin: 10%;
    /* background-image: url("../images/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.AboutPic{
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    border: 1em solid white;
    z-index: 1;
    width: 35%;
    height: auto;
    border-radius: 3%;
}

.AboutText{
    z-index: 2;
    display: block;
    position: relative;
    width: 60%;
    height: min-content;
    /* left: 10%; */
    /* top: 10vh; */

    background-color: white;
    color: black;
    /* color: white; */
    /* transition: all 0.3 ease-out; */
    /* opacity: 1; */
    /* border-radius: 3%; */
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.3);
    border: 1em solid white;
}

@media screen and (max-width: 500px){
    .AboutPic{
        top: 10vh;
    }

    .AboutText{
        top: 25vh;
        width: 80%;
        left: 5%;
    }
}
