.Split{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.Left{
    width: 30%;
    left: 0;
    background-color: #e3dfc8;
}

.Left-header{
    position:relative;
    width: 90%;
    padding: 5%;
    /* height: 30%; */
    display: grid;
    place-items: center;
}

.menu{
    display: grid;
    place-items: center;
    position: relative;
    width: 90%;
    padding: 5%;
    right: 0%;
}

.MenuButton{
    font-size: 200%;
    margin: 2%;
    border: none;
    outline: none;
    color: black;
    text-decoration: none;
}

footer{
    position: absolute;
    width: 90%;
    bottom: 0;
    padding: 5%;
}
