.Split{
    height: 100%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.Left{
    position: fixed;
    width: 30vw;
    left: 0;
}

.Left-header{
    position:relative;
    width: 90%;
    padding: 5%;
    /* height: 30%; */
    display: grid;
    place-items: center;
}

.menu{
    display: grid;
    place-items: center;
    position: relative;
    width: 90%;
    padding: 5%;
    right: 0%;
}

.MenuButton{
    font-size: 200%;
    margin: 0.5vw;
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
}

.MenuButton:hover{
    opacity: 1;
}

footer{
    position: absolute;
    width: 90%;
    bottom: 0;
    padding: 5%;
}
