.Split{
    height: 100vh;
    z-index: 1;
    top: 0;
}

.Right{
    width: 70vw;
    scroll-behavior: smooth;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.Page{
    position: relative;
    width: 100%;
    height: auto;
}
