.Timeline{
    /* position: absolute; */
    padding: 2%;
    width: auto;
    height: auto;
    color: white;
}

h3.vertical-timeline-element-title{
    font-size: 1.5em;
}

.Date{
    color: white;
}
