.Split{
    height: 100vh;
    z-index: 1;
    top: 0;
    /* overflow-x: hidden; */
}

.flex-column{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.Right{
    background-color: #BBD8F1;
    color: black;
}

.Left{
    background-color: #363946;
    color: white;
}
