.Split{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.Right{
    width: 70%;
    right: 0;
    /* background-color: #B7E9F7; */
    background-color: #f5f1da;
}

.flex-column{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.Block{
    position: relative;
    width: 70%;
    height: 100%;
    /* display: flex; */
}
