.Split{
    height: 100vh;
    z-index: 1;
    top: 0;
    /* overflow-x: hidden; */
}

.flex-column{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.Right{
    background-color: #BBD8F1;
    color: black;
    transition: 0.5s;
}

.Left{
    background-color: #363946;
    color: white;
    transition: 0.5s;
}

.MenuToggle{
    position: absolute;
    width: 30px;
    height: auto;
    top: 1vh;
    left: 31vw;
    z-index: 10;
    transition: 0.5s;
}
